/* Grid */
.App-grid {
  --grid-cell-size: 2rem;
  font-size: var(--grid-cell-size);
  max-width: 100vw;
}

/* Rover */
.App-grid [data-rover] {
  display: inline-block;
  position: relative;
}

.App-grid [data-rover]::before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  z-index: 1;
  position: absolute;
  bottom: calc(var(--grid-cell-size) * 1.65);
  left: calc(var(--grid-cell-size) * 0.44);
  border-style: solid;
  border-color: transparent transparent rgba(255, 0, 0, 0.5);
  border-width: calc(var(--grid-cell-size) / 5);
  border-bottom-width: calc(var(--grid-cell-size) / 2.5);
}

/* Cells */
.App-grid [data-future-visit] {
  filter: sepia(1);
}

.App-grid [data-future-visit][data-obstacle] {
  filter: sepia(1) brightness(0.5) saturate(500%) hue-rotate(340deg);
}
