/* Grid */
.App-grid {
  --cell-size: 2rem;
  font-size: var(--cell-size);
  max-width: 100vw;
}

/* Rover */
.App-grid [data-rover] {
  display: inline-block;
  position: relative;
}

.App-grid [data-rover]::before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  z-index: 1;
  position: absolute;
  left: 4px;
  bottom: calc(var(--cell-size) * 1.38);
  border-style: solid;
  border-color: transparent transparent rgba(255, 0, 0, 0.5);
  border-width: calc(var(--cell-size) / 2) calc(var(--cell-size) / 2) var(--cell-size);
}
