.App {
  text-align: center;
}

.App-grid {
  font-size: 2.5rem;
}

.App-grid [data-rover] {
  display: inline-block;
}

.App-grid [data-rover][data-direction="N"] {
  transform: rotate(0deg);
}

.App-grid [data-rover][data-direction="E"] {
  transform: rotate(90deg);
}

.App-grid [data-rover][data-direction="S"] {
  transform: rotate(180deg);
}

.App-grid [data-rover][data-direction="W"] {
  transform: rotate(-90deg);
}

.App-controls {
  font-size: 2rem;
}

.App-controls button {
  font-size: calc(10px + 2vmin);
}

.App-controls__rover {
  font-size: 1.5rem;
}

.App-controls__rover input,
.App-controls__rover select {
  margin: 0.5rem;
  font-size: 1.5rem;
  height: 2rem;
}
