/* Controls */
.App-controls {
  font-size: 2rem;
  font-size: 1.5rem;
  max-width: 500px;
  margin: 0 auto 2rem;
}

.App-controls fieldset {
  margin-bottom: 2rem;
}

.App-controls button {
  font-size: 1.5rem;
}

.App-controls input,
.App-controls select {
  margin: 0.5rem;
  font-size: 1.5rem;
  height: 2rem;
}
